@import '../../../frontend/static/frontend/shared';

body {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 5fr auto;
}

a {
    color: $link_color;
}

h1 {
    margin-bottom: 20px;
    margin-top: 10px;
}

h1:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}
h2:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}

.box {
    background-color: white;
    padding: 10px;
    box-shadow: $box_shadow;

    &.stats {
        margin-bottom: 20px;
    }

    & > p:last-child {
        margin-bottom: 0;
    }
}

.outer-chart {
    max-width: 800px;
}

.event, .ticket, .category, .attendee, .order {
    margin-bottom: 15px;
}

.ticket-breakdown {
    font-size: 14px;
    line-height: 15px;
}

ul.links {
    li {
        display: inline;
        margin-right: 10px;
        margin-left: 0;

        &:first-child {
            margin-top: 15px;
            display: inline-block;
        }
        &:last-child{
            margin-right: 0;
        }

        a {
            text-decoration: none;

            &:visited {
                color: $link_color;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    li.delete {
    
        a {
            color: $delete-red;
            margin-top: 15px;
            display: inline-block;

            &:visited {
                color: $delete-red;
            }
        }
    }
}

.links {
    margin-bottom: 0px;
}

.link {
    text-decoration: none;

    &:visited {
        color: $link_color;
    }
    &:hover {
        text-decoration: underline;
    }
}

.heading {
    margin-bottom: 20px;

    & > h1, & > h2 {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }

    & > .button {
        display: inline-block;
        margin-left: 20px;
    }
}

#content {
    background-color: $background-color;
    padding: 20px;
}

#flex_container {
    display: flex;
    flex-wrap: wrap;

    .box {
        margin: 0;
    }

    .flex-item {
        flex: 1 0 400px;
        box-sizing: border-box;
        margin: 0.25em;
    }

    @media screen and (min-width: 1050px) {
        .flex-item {
            flex-basis: 600px;
            max-width: calc(50% -  1em);
        }
    }

    @media screen and (min-width: 2100px) {
        .flex-item {
            flex-basis: 1000px;
            max-width: calc(25% - 1em);
        }
    }

}

form {
    padding: 10px;
    max-width: 750px;
}

body.two-navs #content {
    grid-column: span 10;
}

body.one-nav #content {
    grid-column: span 11;
}

nav#nav_main, nav#nav_secondary {
    grid-column: span 1;
    background-color: #2c2c2c;
    color: white;
    font-size: 16px;

    a {
        color: white;
        text-decoration: none;
        padding: 10px 10px 10px 10px;
        margin: 5px;
        display: block;
    }

    ul li {
        margin-left: 0;
    }
    
}

nav#nav_secondary {
    background-color: white;
    box-shadow: $box_shadow;
    z-index: 10;

    a {
        color: #222;
    }
}

.dashboard {
    .ticket, .order {
        background-color: #efefef;
        margin-bottom: 0;
        padding: 15px 10px;

        &:nth-child(even) {
            background-color: #f8f8f8;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}
