@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url("fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 5fr auto; }

a {
  color: #007c99; }

h1 {
  margin-bottom: 20px;
  margin-top: 10px; }

h1:first-child {
  margin-top: 0;
  margin-bottom: 20px; }

h2:first-child {
  margin-top: 0;
  margin-bottom: 20px; }

.box {
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); }
  .box.stats {
    margin-bottom: 20px; }
  .box > p:last-child {
    margin-bottom: 0; }

.outer-chart {
  max-width: 800px; }

.event, .ticket, .category, .attendee, .order {
  margin-bottom: 15px; }

.ticket-breakdown {
  font-size: 14px;
  line-height: 15px; }

ul.links li {
  display: inline;
  margin-right: 10px;
  margin-left: 0; }
  ul.links li:first-child {
    margin-top: 15px;
    display: inline-block; }
  ul.links li:last-child {
    margin-right: 0; }
  ul.links li a {
    text-decoration: none; }
    ul.links li a:visited {
      color: #007c99; }
    ul.links li a:hover {
      text-decoration: underline; }

ul.links li.delete a {
  color: #ed5e68;
  margin-top: 15px;
  display: inline-block; }
  ul.links li.delete a:visited {
    color: #ed5e68; }

.links {
  margin-bottom: 0px; }

.link {
  text-decoration: none; }
  .link:visited {
    color: #007c99; }
  .link:hover {
    text-decoration: underline; }

.heading {
  margin-bottom: 20px; }
  .heading > h1, .heading > h2 {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
  .heading > .button {
    display: inline-block;
    margin-left: 20px; }

#content {
  background-color: #f8f8f8;
  padding: 20px; }

#flex_container {
  display: flex;
  flex-wrap: wrap; }
  #flex_container .box {
    margin: 0; }
  #flex_container .flex-item {
    flex: 1 0 400px;
    box-sizing: border-box;
    margin: 0.25em; }
  @media screen and (min-width: 1050px) {
    #flex_container .flex-item {
      flex-basis: 600px;
      max-width: calc(50% -  1em); } }
  @media screen and (min-width: 2100px) {
    #flex_container .flex-item {
      flex-basis: 1000px;
      max-width: calc(25% - 1em); } }
form {
  padding: 10px;
  max-width: 750px; }

body.two-navs #content {
  grid-column: span 10; }

body.one-nav #content {
  grid-column: span 11; }

nav#nav_main, nav#nav_secondary {
  grid-column: span 1;
  background-color: #2c2c2c;
  color: white;
  font-size: 16px; }
  nav#nav_main a, nav#nav_secondary a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    display: block; }
  nav#nav_main ul li, nav#nav_secondary ul li {
    margin-left: 0; }

nav#nav_secondary {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 10; }
  nav#nav_secondary a {
    color: #222; }

.dashboard .ticket, .dashboard .order {
  background-color: #efefef;
  margin-bottom: 0;
  padding: 15px 10px; }
  .dashboard .ticket:nth-child(even), .dashboard .order:nth-child(even) {
    background-color: #f8f8f8; }
  .dashboard .ticket p:last-child, .dashboard .order p:last-child {
    margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */