{% extends 'base_backend.html' %}

{% block title %}Orders{% endblock %}

{% block body_class %}two-navs{% endblock %}

{% block navigation_secondary %}
    {% include "nav_events.html" with event_id=event.id %}
{% endblock %}

{% block content %}

<div class="heading">
    <h1>Orders</h1>
    <a class="button" href="{% url 'backend:order_download' event.id %}">Download Orders</a>
</div>

{% if all_orders_list %}
    <div id="flex_container">
    {% for order in all_orders_list %}
        <div class="order box flex-item">
            <p><strong>{{ order.first_name }} {{ order.last_name }}</strong> <span>({{ order.email }})</span></p>
            <p>Date Purchased: {{ order.date }}</p>
            <p>Order Total: ${{ order.order_total }}</p>
            {% for item in order.ticketorder_set.all %}
                <div class="ticket-breakdown">
                    <span>1 x {{ item.ticket.name }}</span>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No order are available.</p>
{% endif %}

{% endblock %}
