{% extends 'base_backend.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body_class %}two-navs dashboard{% endblock %}

{% block navigation_secondary %}
    {% include "nav_events.html" with event_id=event.id %}
{% endblock %}

{% block content %}

<div class="heading">
    <h1>Dashboard</h1>
        {% if event.is_hidden is True %}<span> (hidden)</span>{% endif %}
        {% if event.is_published is False %}
            <span> (draft)</span>
            <a class="button" href="{% url 'backend:event_publish_button' event.id %}">Publish Event</a>
        {% endif %}
</div>

<div id="flex_container">

    <div class="box flex-item">
            <h2>Daily Ticket Sales</h2>
        <div class="outer-chart">
            <canvas id="chart_date_ticket"></canvas>
        </div>
        <script>var date_ticket_data={{ date_ticket_data|safe }}</script>
    </div>

    <div class="box flex-item">
        <h2>Event Details</h2>
        <p><strong>Start date</strong>: {{ event.date_start }}</p>
        <p><strong>End date</strong>: {{ event.date_end }}</p>
        <p><strong>Venue</strong>: {{ event.venue_name }}</p>
        <p><strong>Venue Address</strong>: {{ event.venue_address }}</p>
        <p><strong>Category</strong>: {{ event.category }}</p>
        <p><strong>Refunds</strong>: {{ event.get_refunds_display }}</p>
        <p><strong>Gross Revenue</strong>: $ {{ gross_revenue }}</p>
    </div>

    <div class="box flex-item">
        <h2>Ticket Details</h2>
        {% if all_tickets_list_with_count %}
            {% for ticket in all_tickets_list_with_count %}
            <div class="ticket">
                <p><strong>{{ ticket.name }}</strong> <span>({{ ticket.count }}/{{ ticket.quantity }} sold)</span></p>
                <p>Type: {{ ticket.get_ticket_type_display }}</p>
                <p>On sale date: {{ ticket.for_sale_date_start }}</p>
                <p>End sale date: {{ ticket.for_sale_date_end }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>No tickets were created yet.</p>
        {% endif %}
    </div>

    <div class="box flex-item">
        <h2>Recent Orders</h2>
        {% if recent_orders_list %}
            {% for order in recent_orders_list %}
            <div class="order">
                <p><strong>{{ order.first_name }} {{ order.last_name }}</strong> ($ {{ order.order_total }})</p>
                <p>Date: {{ order.date }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>No orders are available.</p>
        {% endif %}
        
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="{% static 'backend/chart_class.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/dashboard_charts.js' %}"></script>
{% endblock %}
