{% extends 'base_backend.html' %}
{% load static %}

{% block title %}Add Event{% endblock %}

{% block body_class %}one-nav{% endblock %}

{% block content %}

<div class="heading">
    <h1>Add Event</h1>
</div>

<form class="box" enctype="multipart/form-data" method="post" action="{% url 'backend:event_add' %}">
    <table cellpadding="0">{{ form.as_table}}</table>
    <input type="submit" value="Save">
    {% csrf_token %}
</form>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript" src="{% static 'backend/datetime_picker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/auto_copy_to_path.js' %}"></script>
{% endblock %}
