{% extends 'base_backend.html' %}

{% block title %}Tickets{% endblock %}

{% block body_class %}two-navs{% endblock %}

{% block navigation_secondary %}
    {% include "nav_events.html" with event_id=event.id %}
{% endblock %}

{% block content %}

<div class="heading">
    <h1>Tickets</h1>
    <a class="button" href="{% url 'backend:ticket_new' event.id %}">Add Ticket</a>
</div>

{% if all_tickets_list_with_count %}
    <div id="flex_container">
    {% for ticket in all_tickets_list_with_count %}
        <div class="ticket box flex-item">
            <p><strong>{{ ticket.name }}</strong> <span>({{ ticket.count }}/{{ ticket.quantity }} sold)</span>{% if ticket.is_hidden %} <span>(hidden)</span>{% endif %}</p>
            <p>Type: {{ ticket.get_ticket_type_display }}</p>
            <p>On sale date: {{ ticket.for_sale_date_start }}</p>
            <p>End sale date: {{ ticket.for_sale_date_end }}</p>
            <ul class="links">
                <li class="edit"><a href="{% url 'backend:ticket_details' event.id ticket.id %}">Edit</a></li>
                <li class="delete"><a href="{% url 'backend:ticket_delete' event.id ticket.id %}">Delete</a></li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No tickets are available.</p>
{% endif %}

{% endblock %}
