{% extends 'base_frontend.html' %}

{% load frontend_extras %}

{% block title %}{{ event.name }}{% endblock %}

{% block body_class%}{%if event.banner%}has-banner {%endif%}has-aside {% endblock %}

{% block content_class%}event {% endblock %}

{% block banner %}
<div id="banner_image" class="banner">
    {% if event.banner %}
        <img class="drop-shadow" src="{{ event.banner.url }}">
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>

    <p>{{ event.description }}</p>

    {% if all_tickets_list or all_extras_list%}
        <form method="post" action="{% url 'frontend:order_new' event_user.org_identifier event.id %}">
    {% endif %}

    {% if all_tickets_list %}
        <h2>Tickets</h2>

        {% for form, ticket in form|zip:all_tickets_list %}
        <div class="item ticket box">
            <p><strong>{{ ticket.name }}</strong> &ndash; $ {{ ticket.price }}</p>
            <p class="ticket-sales-end">Sales End: {{ ticket.for_sale_date_end }}</p>
            <div class="flex-right">{{ form }}</div>
            <p class="ticket-description">{{ ticket.description }}</p>
        </div>
        {% endfor %}
    {% endif %}

    {% if all_extras_list %}
        <h2>Add Ons</h2>

        {% for form_extra, extra in form_extra|zip:all_extras_list %}
        <div class="item extra box">
            <p><strong>{{ extra.name }}</strong> &ndash; $ {{ extra.price }}</p>
            <p class="extra-sales-end">Sales End: {{ extra.for_sale_date_end }}</p>
            <div class="flex-right">{{ form_extra }}</div>
            <p class="extra-description">{{ extra.description }}</p>
        </div>
        {% endfor %}
    {% endif %}

    {% if all_tickets_list or all_extras_list%}
        <input type="submit" value="Checkout">
        {% csrf_token %}
        </form>
    {% endif %}

    {% if not all_tickets_list and not all_extras_list%}
        <p>No tickets are available.</p>
    {% endif %}

{% endblock %}

{% block aside %}
    <p><strong>Venue</strong>: {{ event.venue_name }}</p>
    <p><strong>Address</strong>: {{ event.venue_address }}</p>
    <p><strong>Starts</strong>: {{ event.date_start }}</p>
    <p><strong>Ends</strong>: {{ event.date_end }}</p>
{% endblock %}
