{% extends 'base_homepage.html' %}
{% load static %}


{% block hero %}
    <div class="text-logo">Eventori</div>
    <div id="tagline"><span class="text"><noscript>The simple event ticket application.</noscript></span><div id="cursor"></div></div>
{% endblock %}

{% block content_one_image %}
<img src="{% static 'frontend/homepage_images/event.png' %}">
{% endblock %}


{% block content_one_text %}
<h2>Create Events</h2>
<p>Create a new event quickly.</p>

{% endblock %}


{% block content_two_image %}
<img src="{% static 'frontend/homepage_images/attendees.png' %}">
{% endblock %}


{% block content_two_text %}
<h2>View Attendees</h2>
<p>View a list of attendees, and download the list to a .CSV file.</p>
{% endblock %}


{% block content_three_image %}
<img src="{% static 'frontend/homepage_images/ticket_stats.png' %}">
{% endblock %}


{% block content_three_text %}
<h2>Event Stats</h2>
<p>View the past 14 days of ticket sales, and download the ticket sale stats to a .CSV file.</p>
{% endblock %}


{% block content_form %}<p>form content will go here</p>{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'frontend/index.js' %}"></script>
{% endblock %}
