{% extends 'base_frontend.html' %}

{% load frontend_extras %}

{% block title %}Order Confirmation &dash; {{ event.name }} {% endblock %}

{% block body_class%}{% endblock%}

{% block content %}

<h1>Thanks for Your Order!</h1>

<div>
    <h2>Items in your order:</h2>
    <ul>
    {% for item in count %}
        <li>{{ item.ticket__count }} x {{ item.ticket__name }}</li>
    {% endfor %}
    </ul>
    <p>Total: ${{ order.order_total }}</p>
</div>
<br>
<a class="button" href="{% url 'frontend:event' event_user.org_identifier event.id %}">Back to event page</a>


{% endblock %}
