{% extends 'base_frontend.html' %}
{% load static %}

{% load frontend_extras %}

{% block title %}{{ event.name }} &dash; Checkout{% endblock %}

{% block body_class%}has-aside{% endblock%}

{% block content %}

<h1>{{ event.name }} &dash; Checkout</h1>

<form id="order_form" method="post" action="{% url 'frontend:order_add' event_user.org_identifier event.id %}">
    <h2 class="heading-name">Ticket Buyer Information</h2>
    <table cellpadding="0" data-number="0">{{ order_form.as_table }}</table>

    <h2>Ticket Information</h2>

    {% if ticket_forms %}

        {% for form, cart in ticket_forms|zip:ticket_list %}
            <h3 class="heading-name">#{{ forloop.counter }} &ndash; {{ cart.name }}</h3>
            <div class="copy-form"></div>
            <table cellpadding="0" data-number="{{ forloop.counter }}">{{ form.as_table }}</table>
        {% endfor %}

    {% endif %}

   <input type="hidden" name="ticket_prefixes" value="{{ ticket_prefixes }}" id="ticket_prefixes">

    <input type="submit" value="Purchase">
    {% csrf_token %}
</form>

{% endblock %}

{% block aside %}
    <h2>Items in Cart:</h2>
    <ul class="cart">
    {% for cart in all_cart_list %}
        <li>{{ cart.quantity }} x {{ cart.ticket.name }}</li>
    {% endfor %}
    </ul>
    <p>Total: ${{ total_price }}</p>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'frontend/order_form.js' %}"></script>
{% endblock %}
