{% extends 'base_frontend.html' %}

{% block title %}Events by {{ event_user.org_name }}{% endblock %}
{% block content %}

<h1>Events by {{ event_user.org_name }}</h1>

{% if all_events_list %}
    {% for event in all_events_list %}
        <div class="event">
            <span><strong>{{ event.name }}</strong></span>
            <div>Start Date: {{ event.date_start }}</div>
            <div>End Date: {{ event.date_end }}</div>
            <div>Category: {{ event.category }}</div>
            <ul class="links">
                <li class="view"><a href="{% url 'frontend:event' event_user.org_identifier event.id %}">View</a></li>
            </ul>
        </div>
        <br>
    {% endfor %}
{% else %}
    <p>No events are available.</p>
{% endif %}

{% endblock %}
