{% extends 'base_backend.html' %}

{% block title %}Admin{% endblock %}

{% block body_class %}one-nav{% endblock %}

{% block content %}

<div class="heading">
    <h1>Upcoming Events</h1>
    <a class="button" href="{% url 'backend:event_new' %}">Add Event</a>
</div>

{% if upcoming_events_list %}
    <div id="flex_container">
    {% for event in upcoming_events_list %}
        <div class="event box flex-item">
            <p><strong>{{ event.name }}</strong>
                {% if event.is_published is False %}<span> (draft)</span>{% endif %}
                {% if event.is_hidden is True %}<span> (hidden)</span>{% endif %}
            </p>
            <p>Start date: {{ event.date_start }}</p>
            <p>End date: {{ event.date_end }}</p>
            <p>Category: {{ event.category }}</p>
            <p>Refunds: {{ event.get_refunds_display }}</p>
            <ul class="links">
                <li class="dashboard"><a href="{% url 'backend:event_dashboard' event.id %}">Dashboard</a></li>
                <li class="edit"><a href="{% url 'backend:event_details' event.id %}">Edit</a></li>
                <li class="tickets"><a href="{% url 'backend:ticket_list' event.id %}">Tickets</a></li>
                <li class="attendees"><a href="{% url 'backend:attendee_list' event.id %}">Attendees</a></li>
                <li class="orders"><a href="{% url 'backend:order_list' event.id %}">Orders</a></li>
                <li class="stats"><a href="{% url 'backend:stat_show' event.id %}">Stats</a></li>
                <li class="view"><a href="{% url 'frontend:event' user.org_identifier event.id %}" target="_blank">View</a></li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No events are available.</p>
{% endif %}

<h2>Recent Orders</h2>

{% if recent_orders_list %}
    <div id="flex_container">
    {% for order in recent_orders_list %}
        <div class="order box flex-item">
            <p><strong>{{ order.first_name }} {{ order.last_name }}</strong> ($ {{ order.order_total }})</p>
            <p>Date: {{ order.date }}</p>
            <p>Event: {{ order.event }}</p>
            <ul class="links">
                <li class="orders"><a href="{% url 'backend:order_list' order.event.id %}">View More Orders</a></li>
                <li><a class="link" href="{% url 'backend:event_dashboard' order.event.id %}">View Event</a></li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No orders are available.</p>
{% endif %}

{% endblock %}
