{% extends 'base_backend.html' %}

{% block title %}Attendees{% endblock %}

{% block body_class %}two-navs{% endblock %}

{% block navigation_secondary %}
    {% include "nav_events.html" with event_id=event.id %}
{% endblock %}

{% block content %}

<div class="heading">
    <h1>Attendees</h1>
    <a class="button" href="{% url 'backend:attendee_download' event.id %}">Download Attendees</a>
    <a class="button" href="{% url 'backend:attendee_download_addon' event.id %}">Download Add-ons</a>
</div>

{% if all_attendees_list %}
    <div id="flex_container">
    {% for attendee in all_attendees_list %}
        <div class="attendee box flex-item">
            <p><span><strong>{{ attendee.first_name }} {{ attendee.last_name }}</strong></span> <span>{{ attendee.email }}</span></p>
            <p>Ticket: {{ attendee.ticket.name }}</p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No attendees are available.</p>
{% endif %}

{% endblock %}
