{% extends 'base_backend.html' %}
{% load static %}

{% block title %}Stats{% endblock %}

{% block body_class %}two-navs{% endblock %}

{% block navigation_secondary %}
    {% include "nav_events.html" with event_id=event.id %}
{% endblock %}

{% block content %}

<div class="heading">
    <h1>{{ event.name }} &ndash; Stats</h1>
</div>

<div class="stats box">
    <div class="heading">
        <h2>Location</h2>
        <a class="button" href="{% url 'backend:stat_location_download' event.id %}">Download Location Stats</a>
    </div>
    <div class="outer-chart">
        <canvas id="chart_location"></canvas>
    </div>
    <script>var location_data={{ location_data|safe }}</script>
</div>

<div class="stats box">
    <div class="heading">
        <h2>Daily Ticket Sales</h2>
        <a class="button" href="{% url 'backend:stat_date_ticket_download' event.id %}">Download Tickets Sold Per Day</a>
    </div>
    <div class="outer-chart">
        <canvas id="chart_date_ticket"></canvas>
    </div>
    <script>var date_ticket_data={{ date_ticket_data|safe }}</script>
</div>

<div class="stats box">
    <div class="heading">
        <h2>Daily Add-on Sales</h2>
        <a class="button" href="{% url 'backend:stat_date_addon_download' event.id %}">Download Add-ons Sold Per Day</a>
    </div>
    <div class="outer-chart">
        <canvas id="chart_date_addon"></canvas>
    </div>
    <script>var date_addon_data={{ date_addon_data|safe }}</script>
</div>

<div class="stats box">
    <div class="heading">
        <h2>Revenue Per Day</h2>
        <a class="button" href="{% url 'backend:stat_revenue_download' event.id %}">Download Revenue Per Day</a>
    </div>
    <div class="outer-chart">
        <canvas id="chart_revenue"></canvas>
    </div>
    <script>var revenue_data={{ revenue_data|safe }}</script>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="{% static 'backend/chart_class.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/stat_charts.js' %}"></script>
{% endblock %}
