{% load i18n %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eventori</title>
    <link href="{% static 'frontend/reset.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'frontend/general.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'frontend/main.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body class="homepage{% block body_class %}{% endblock %}">

    <header class="grid header">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}
    </header>

    <div class="wrapper">

    <div class="background-hero">
        <div class="hero">
            {% block hero %}{% endblock %}
            {% include 'messages.html' %}
        </div>
    </div>

    <div class="background-1">
        <div class="content-one-image">
            {% block content_one_image %}{% endblock %}
        </div>
        <div class="content-one-text">
            {% block content_one_text %}{% endblock %}
        </div>
    </div>

    <div class="background-2">
        <div class="content-two-image">
            {% block content_two_image %}{% endblock %}
        </div>
        <div class="content-two-text">
            {% block content_two_text %}{% endblock %}
        </div>
    </div>

    <div class="background-3">
        <div class="content-three-image">
            {% block content_three_image %}{% endblock %}
        </div>
        <div class="content-three-text">
            {% block content_three_text %}{% endblock %}
        </div>
    </div>

    <div class="background-form">
        <div class="contact-form">
            {% block content_form %}{% endblock %}
        </div>
    </div>

    <footer class="footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>

    </div>

</body>

{% block scripts %}{% endblock %}
<script type="text/javascript" src="{% static 'frontend/general.js' %}"></script>

</html>
