{% load i18n %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} &vert; Eventori</title>
    <link href="{% static 'frontend/reset.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'frontend/general.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'frontend/main.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body class="{% block body_class %}{% endblock %}">
    <header class="grid header">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}
    </header>

    {% block banner %}{% endblock %}

    <div class="{% block content_class %}{% endblock %} main">
        <div class="box inner">
        {% include 'messages.html' %}
        {% block content %}{% endblock %}
        </div>
    </div>

    <div class="aside">
        <div class="box inner">
            {% block aside %}
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
</body>

{% block scripts %}{% endblock %}
<script type="text/javascript" src="{% static 'frontend/general.js' %}"></script>

</html>
