{% load i18n %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} &vert; Eventori</title>
    <link href="{% static 'frontend/reset.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'frontend/general.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'backend/main.scss' %}" rel="stylesheet" type="text/css" />
</head>

<body class="{% block body_class %}{% endblock %}">
    <header class="grid">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}
    </header>

    <nav id="nav_main">
        {% block navigation_main %}
            {% include 'nav_main.html' %}
        {% endblock %}
    </nav>

    {% block navigation_secondary %}
    {% endblock %}

    <div id="content">
        {% include 'messages.html' %}
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
</body>

{% block scripts %}{% endblock %}
<script type="text/javascript" src="{% static 'frontend/general.js' %}"></script>
</html>
