{% load i18n %}
{% load static %}

<div class="flex-left"><a href="{% url 'frontend:index' %}"><img class="logo" src="{% static 'frontend/logo.png' %}"></a></div>

{% if user.is_authenticated %}
<p class="flex-right">
    <span><a href="{% url 'backend:admin' %}">Admin</a></span>
    <span>{{ user.email }} (<a href="{% url 'frontend:logout' %}">Log out</a>)</span></p>
{% else %}
<span><p class="flex-right"><a href="{% url 'frontend:login' %}">Login</a> | <a href="{% url 'frontend:signup' %}">Signup</a></p></span>
{% endif %}
