<div>

<ul>
<li><a href="{% url 'backend:admin' %}">Admin</a></li>
<li><a href="{% url 'backend:event_list' %}">Events</a></li>
<li><a href="{% url 'backend:category_list' %}">Categories</a></li>
</ul>

</div>
