<nav id="nav_secondary">
    <ul>
        <li><a href="{% url 'backend:event_new' %}">New Event</a></li>
        <li><hr></li>
        <li><a href="{% url 'backend:event_dashboard' event_id %}">Dashboard</a></li>
        <li><a href="{% url 'backend:event_details' event_id %}">Edit Event</a></li>
        <li><a href="{% url 'backend:ticket_list' event_id %}">Tickets</a></li>
        <li><a href="{% url 'backend:attendee_list' event_id %}">Attendees</a></li>
        <li><a href="{% url 'backend:order_list' event_id %}">Orders</a></li>
        <li><a href="{% url 'backend:stat_show' event_id %}">Stats</a></li>
        <li><hr></li>
        <li><a href="{% url 'frontend:event' org_path=user.org_identifier event_id=event.id %}" target="_blank">View</a></li>
    </ul>
</nav>
