@font-face {
    font-family: "Nunito";
    src:    local("Nunito-Regular"),
            url("fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

$font-stack: Nunito;

$link_color: #007c99;

$box_shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
$box_shadow_bottom: 0 1px 2px 0 rgba(0,0,0,0.15);
$box_shadow_right: 2px 0 2px 0 rgba(0,0,0,0.15);

$background-color: #f8f8f8;

$delete-red: #ed5e68;
