@import 'shared';

.box {
    box-shadow: $box_shadow;
    background-color: white;
    padding: 20px;
}

form {
    .box {
        background-color: $background-color;
        padding: 10px;
        box-shadow: $box_shadow;
    }
}

.drop-shadow {
    box-shadow: $box_shadow;
}

body:not(.homepage){
    background-color: $background-color;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 180px 180px 180px 180px 180px auto;
    grid-template-rows: auto 5fr auto;

    .header { grid-area: header; }
    .main { grid-area: main; }
    .aside { display: none; }
    .footer { grid-area: footer; }
    .banner { display: none; }

    grid-template-areas:
            'header header header header header header header'
            '. main main main main main .'
            'footer footer footer footer footer footer footer';

    &.has-aside {
        .aside { grid-area: aside; display: block; }
        grid-template-rows: auto 5fr auto;
        grid-template-areas:
            'header header header header header header header'
            '. main main main aside aside .'
            'footer footer footer footer footer footer footer';

        @media screen and (max-width: 1200px) {
            & {
                grid-template-areas:
                    'header header header header header header header'
                    'aside aside aside aside aside aside aside'
                    'main main main main main main main'
                    'footer footer footer footer footer footer footer';
                grid-template-rows: auto auto 5fr auto;
                grid-template-columns: auto;
            }
        }
    }

    &.has-banner.has-aside {
        .banner { grid-area: banner; display: block; }
        .aside { grid-area: aside; display: block; }
        
        grid-template-rows: auto auto 5fr auto;
        grid-template-areas:
            'header header header header header header header'
            '. banner banner banner banner banner .'
            '. main main main aside aside .'
            'footer footer footer footer footer footer footer';

        @media screen and (max-width: 1200px) {
            & {
                grid-template-areas:
                    'header header header header header header header'
                    'banner banner banner banner banner banner banner'
                    'aside aside aside aside aside aside aside'
                    'main main main main main main main'
                    'footer footer footer footer footer footer footer';
                grid-template-columns: auto;
            }
        }
    }

    &:not(.has-banner):not(.has-aside) {
        .aside { grid-area: aside; display: none; }
        
        grid-template-rows: auto 5fr auto;
        grid-template-areas:
            'header header header header header header header'
            '. main main main main main .'
            'footer footer footer footer footer footer footer';
    
        @media screen and (max-width: 1200px) {
            & {
                grid-template-areas:
                    'header header header header header header header'
                    'main main main main main main main'
                    'footer footer footer footer footer footer footer';
                grid-template-columns: auto;
            }
        }
    }
}

body.homepage {
    .header {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        // display: none;
        color: $background-color;

        a {
            color: $background-color;
            text-decoration: underline;
        }
        a:hover {
            text-decoration: none;
        }
        a:visited {
            color: $background-color;
        }
    }
}

body.homepage .wrapper {

    h2 {
        color: $link_color;
        font-size: 40px;
        margin-bottom: 20px;
    }

    overflow-x: hidden;

    background-color: $background-color;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto;
    
    .footer { grid-area: footer; }
    .background-hero { grid-area: bg-hero; }
    .background-1 { grid-area: bg-1; }
    .background-2 { grid-area: bg-2; }
    .background-3 { grid-area: bg-3; }
    .background-form { grid-area: bg-form; }

    grid-template-areas:
            // 'header'
            'bg-hero'
            'bg-1'
            'bg-2'
            'bg-3'
            'bg-form'
            'footer';
}

body {
    .background-hero, .background-1, .background-2, .background-3, .background-form {
        background-color: $background-color;

        display: grid;
        grid-gap: 20px;
        padding: 50px;
        grid-template-columns: auto auto 180px 180px 20px 180px 180px auto auto;
        grid-template-rows: auto;

        align-items: center;
    }

    .background-2 {
        background: white;
    }

    .wrapper {
        img {
            max-width: 600px;
            box-shadow: $box_shadow;
        }
        
        h2 {
            margin-top: 0;
        }
    }

    .hero { grid-area: hero; }
    .content-one-image { grid-area: c1-image; text-align: right; }
    .content-one-text { grid-area: c1-text; }
    .content-two-image { grid-area: c2-image; }
    .content-two-text { grid-area: c2-text; text-align: right; }
    .content-three-image { grid-area: c3-image; text-align: right; }
    .content-three-text { grid-area: c3-text; }
    .contact-form { grid-area: contact-form; display: none; }

    .background-hero {
        grid-template-areas:
            '. . hero hero hero hero hero . .';
        
        background: #4ecdc4; // fallback
        // background: -webkit-linear-gradient(to bottom right, $background-color, $link_color, #556270);
        // background: linear-gradient(to bottom right, $background-color, $link_color, #556270);
        color: $background-color;
        align-items: center; 

        // https://www.gradient-animator.com/
        background: linear-gradient(138deg, #a8a8a8, $link_color, #2c2c2c);
        background-size: 600% 600%;

        -webkit-animation: hero-background-animation 31s ease infinite;
        -moz-animation: hero-background-animation 31s ease infinite;
        -o-animation: hero-background-animation 31s ease infinite;
        animation: hero-background-animation 31s ease infinite;

        @-webkit-keyframes hero-background-animation {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
        @-moz-keyframes hero-background-animation {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
        @-o-keyframes hero-background-animation {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }
        @keyframes hero-background-animation {
            0%{background-position:0% 52%}
            50%{background-position:100% 49%}
            100%{background-position:0% 52%}
        }


    }

    .background-1 {
        grid-template-areas:
            '. c1-image c1-image c1-image . c1-text c1-text . . ';
    }

    .background-2 {
        grid-template-areas:
        '. c2-text c2-text c2-text . c2-image c2-image . . ';
    }

    .background-3 {
        grid-template-areas:
        '. c3-image c3-image c3-image . c3-text c3-text . . ';
    }

    .background-form {
        grid-template-areas:
        '. . contact-form contact-form contact-form contact-form contact-form . .';
    }

    @media screen and (max-width: 1200px) {

        .background-hero {
            grid-template-areas:
                '. hero . .';
        }

        .background-1 {
            grid-template-areas:
                '. c1-text .'
                '. c1-image .';
        }
    
        .background-2 {
            grid-template-areas:
            '. c2-text . '
            '. c2-image . ';
        }
    
        .background-3 {
            grid-template-areas:
            '. c3-text . '
            '. c3-image .';
        }
    
        .background-form {
            grid-template-areas:
            '. contact-form .';
        }

        .background-hero {
            grid-template-columns: auto auto auto;

            padding: 50px 20px;
        }

        .background-1, .background-2, .background-3, .background-form {
            text-align: center;
            grid-template-columns: auto auto auto;
            padding: 50px 20px;
        }

        .content-one-image, .content-one-text, .content-two-image, .content-two-text,.content-three-image, .content-three-text, .contact-form {
            text-align: center;

            img, p {
                max-width: 100%;
            }
        }

    }

    @media screen and (max-width: 600px) {
        .background-hero {
            grid-template-areas:
                'hero';
        }

        h2 {
            line-height: 40px;
        }

        .hero {
            .text-logo {
                font-size: 60px;
            }
            
            #tagline {
                font-size: 20px;
            }
        }
    }
}

#banner_image {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    max-height: 400px;

    img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    
}

.ticket, .extra {
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    .flex-right {
        // text-align: right;
        flex: 0 1;
        display: flex;
    }

    .ticket-description, .extra-description, .ticket-sales-end, .extra-sales-end {
        flex: 0 0 90%;
    }

    input {
        max-width: 50px;   
    }
}

.aside .inner {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.main, .aside, .banner {
    // overflow-y: hidden;

    .inner {
        h1:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.aside {
    .inner {
        h2:first-child {
            margin-top: 0;
        }
    }
}

.wrapper {
    overflow-y: hidden;
}

ul.cart li {
    margin-left: 20px;
}


#tagline {
    white-space: nowrap;
    position: relative;
    font-size: 28px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    display: inline-block;
    color: $background-color;
}
  
#cursor {
    animation: animated-cursor 800ms steps(30,end) infinite;

    border-bottom: solid 4px $background-color;
    position: absolute;
    right: -15px;
    bottom: 25px;
    width: 15px;
    height: 4px;
    display: inline-block;
}
  
@keyframes animated-cursor{
    from {border-bottom-color: $background-color;}
    to {border-bottom-color: transparent;}
}

.text-logo {
    font-size: 4em;
    color: $background-color;
    line-height: 1.2;
}

.links {
    li:first-child {
        margin-left: 0;
    }
}
