@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url("fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

html {
  height: 100%; }

body {
  font-family: Nunito, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 14pt;
  line-height: 1.3rem;
  min-height: 100%; }

a {
  color: #007c99;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #007c99; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 20pt;
  margin-bottom: 10pt; }

h1 {
  font-size: 25pt; }

h2 {
  font-size: 20pt; }

h3 {
  font-size: 18pt; }

h4 {
  font-size: 16pt; }

h5 {
  font-size: 14pt; }

h6 {
  font-size: 12pt; }

p, ul, ol {
  margin-bottom: 10px; }

ul li, ol li {
  margin-left: 20px;
  margin-bottom: 10px; }
  ul li:last-child, ol li:last-child {
    margin-bottom: 0; }

a.button, input[type=submit] {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #007c99;
  display: inline-block;
  color: white; }
  a.button:visited, input[type=submit]:visited {
    color: white !important; }
  a.button:hover, input[type=submit]:hover {
    text-decoration: none; }

table {
  border-collapse: separate;
  border-spacing: 0 10px; }
  table tr td, table tr th {
    vertical-align: middle; }
  table tr th {
    text-align: right;
    padding-right: 10px;
    max-width: 150px;
    font-size: 80%;
    color: #828282; }

form label.required::after {
  content: "*";
  color: red;
  display: inline-block; }

input[type=text], input[type=email], input[type=number], input[type=password], select, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px; }
  input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, select:focus, textarea:focus {
    border-color: #007c99; }

input[type=text], input[type=email], input[type=password], select, textarea {
  display: inline-block;
  padding: 12px;
  margin: 8px 0; }

input[type=text], input[type=email], input[type=password], select:not(.copy-form-from), textarea {
  width: 100%; }

.logo {
  max-width: 150px;
  height: auto;
  margin: 10px; }

.grid {
  grid-column: span 12;
  display: flex; }

header {
  z-index: 20;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: white; }
  header p {
    margin-bottom: 0px;
    margin: 10px; }

.flex-right {
  margin-left: auto; }

.flex-left {
  margin-right: auto; }

.right {
  text-align: right; }

footer {
  grid-column: span 12;
  background-color: #1c1c1c;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px; }

ul.messages li {
  margin-left: 0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px; }

ul.messages .info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

ul.messages .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

ul.messages .warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

ul.messages .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

ul.errorlist li {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 10px 20px; }

/*# sourceMappingURL=general.css.map */