@font-face {
  font-family: "Nunito";
  src: local("Nunito-Regular"), url("fonts/nunito/Nunito-Regular.ttf") format("truetype"); }

.box {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 20px; }

form .box {
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); }

.drop-shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); }

body:not(.homepage) {
  background-color: #f8f8f8;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 180px 180px 180px 180px 180px auto;
  grid-template-rows: auto 5fr auto;
  grid-template-areas: 'header header header header header header header' '. main main main main main .' 'footer footer footer footer footer footer footer'; }
  body:not(.homepage) .header {
    grid-area: header; }
  body:not(.homepage) .main {
    grid-area: main; }
  body:not(.homepage) .aside {
    display: none; }
  body:not(.homepage) .footer {
    grid-area: footer; }
  body:not(.homepage) .banner {
    display: none; }
  body:not(.homepage).has-aside {
    grid-template-rows: auto 5fr auto;
    grid-template-areas: 'header header header header header header header' '. main main main aside aside .' 'footer footer footer footer footer footer footer'; }
    body:not(.homepage).has-aside .aside {
      grid-area: aside;
      display: block; }
    @media screen and (max-width: 1200px) {
      body:not(.homepage).has-aside {
        grid-template-areas: 'header header header header header header header' 'aside aside aside aside aside aside aside' 'main main main main main main main' 'footer footer footer footer footer footer footer';
        grid-template-rows: auto auto 5fr auto;
        grid-template-columns: auto; } }
  body:not(.homepage).has-banner.has-aside {
    grid-template-rows: auto auto 5fr auto;
    grid-template-areas: 'header header header header header header header' '. banner banner banner banner banner .' '. main main main aside aside .' 'footer footer footer footer footer footer footer'; }
    body:not(.homepage).has-banner.has-aside .banner {
      grid-area: banner;
      display: block; }
    body:not(.homepage).has-banner.has-aside .aside {
      grid-area: aside;
      display: block; }
    @media screen and (max-width: 1200px) {
      body:not(.homepage).has-banner.has-aside {
        grid-template-areas: 'header header header header header header header' 'banner banner banner banner banner banner banner' 'aside aside aside aside aside aside aside' 'main main main main main main main' 'footer footer footer footer footer footer footer';
        grid-template-columns: auto; } }
  body:not(.homepage):not(.has-banner):not(.has-aside) {
    grid-template-rows: auto 5fr auto;
    grid-template-areas: 'header header header header header header header' '. main main main main main .' 'footer footer footer footer footer footer footer'; }
    body:not(.homepage):not(.has-banner):not(.has-aside) .aside {
      grid-area: aside;
      display: none; }
    @media screen and (max-width: 1200px) {
      body:not(.homepage):not(.has-banner):not(.has-aside) {
        grid-template-areas: 'header header header header header header header' 'main main main main main main main' 'footer footer footer footer footer footer footer';
        grid-template-columns: auto; } }
body.homepage .header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  color: #f8f8f8; }
  body.homepage .header a {
    color: #f8f8f8;
    text-decoration: underline; }
  body.homepage .header a:hover {
    text-decoration: none; }
  body.homepage .header a:visited {
    color: #f8f8f8; }

body.homepage .wrapper {
  overflow-x: hidden;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh auto;
  grid-template-areas: 'bg-hero' 'bg-1' 'bg-2' 'bg-3' 'bg-form' 'footer'; }
  body.homepage .wrapper h2 {
    color: #007c99;
    font-size: 40px;
    margin-bottom: 20px; }
  body.homepage .wrapper .footer {
    grid-area: footer; }
  body.homepage .wrapper .background-hero {
    grid-area: bg-hero; }
  body.homepage .wrapper .background-1 {
    grid-area: bg-1; }
  body.homepage .wrapper .background-2 {
    grid-area: bg-2; }
  body.homepage .wrapper .background-3 {
    grid-area: bg-3; }
  body.homepage .wrapper .background-form {
    grid-area: bg-form; }

body .background-hero, body .background-1, body .background-2, body .background-3, body .background-form {
  background-color: #f8f8f8;
  display: grid;
  grid-gap: 20px;
  padding: 50px;
  grid-template-columns: auto auto 180px 180px 20px 180px 180px auto auto;
  grid-template-rows: auto;
  align-items: center; }

body .background-2 {
  background: white; }

body .wrapper img {
  max-width: 600px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); }

body .wrapper h2 {
  margin-top: 0; }

body .hero {
  grid-area: hero; }

body .content-one-image {
  grid-area: c1-image;
  text-align: right; }

body .content-one-text {
  grid-area: c1-text; }

body .content-two-image {
  grid-area: c2-image; }

body .content-two-text {
  grid-area: c2-text;
  text-align: right; }

body .content-three-image {
  grid-area: c3-image;
  text-align: right; }

body .content-three-text {
  grid-area: c3-text; }

body .contact-form {
  grid-area: contact-form;
  display: none; }

body .background-hero {
  grid-template-areas: '. . hero hero hero hero hero . .';
  background: #4ecdc4;
  color: #f8f8f8;
  align-items: center;
  background: linear-gradient(138deg, #a8a8a8, #007c99, #2c2c2c);
  background-size: 600% 600%;
  -webkit-animation: hero-background-animation 31s ease infinite;
  -moz-animation: hero-background-animation 31s ease infinite;
  -o-animation: hero-background-animation 31s ease infinite;
  animation: hero-background-animation 31s ease infinite; }

@-webkit-keyframes hero-background-animation {
  0% {
    background-position: 0% 52%; }
  50% {
    background-position: 100% 49%; }
  100% {
    background-position: 0% 52%; } }

@-moz-keyframes hero-background-animation {
  0% {
    background-position: 0% 52%; }
  50% {
    background-position: 100% 49%; }
  100% {
    background-position: 0% 52%; } }

@-o-keyframes hero-background-animation {
  0% {
    background-position: 0% 52%; }
  50% {
    background-position: 100% 49%; }
  100% {
    background-position: 0% 52%; } }

@keyframes hero-background-animation {
  0% {
    background-position: 0% 52%; }
  50% {
    background-position: 100% 49%; }
  100% {
    background-position: 0% 52%; } }

body .background-1 {
  grid-template-areas: '. c1-image c1-image c1-image . c1-text c1-text . . '; }

body .background-2 {
  grid-template-areas: '. c2-text c2-text c2-text . c2-image c2-image . . '; }

body .background-3 {
  grid-template-areas: '. c3-image c3-image c3-image . c3-text c3-text . . '; }

body .background-form {
  grid-template-areas: '. . contact-form contact-form contact-form contact-form contact-form . .'; }

@media screen and (max-width: 1200px) {
  body .background-hero {
    grid-template-areas: '. hero . .'; }
  body .background-1 {
    grid-template-areas: '. c1-text .' '. c1-image .'; }
  body .background-2 {
    grid-template-areas: '. c2-text . ' '. c2-image . '; }
  body .background-3 {
    grid-template-areas: '. c3-text . ' '. c3-image .'; }
  body .background-form {
    grid-template-areas: '. contact-form .'; }
  body .background-hero {
    grid-template-columns: auto auto auto;
    padding: 50px 20px; }
  body .background-1, body .background-2, body .background-3, body .background-form {
    text-align: center;
    grid-template-columns: auto auto auto;
    padding: 50px 20px; }
  body .content-one-image, body .content-one-text, body .content-two-image, body .content-two-text, body .content-three-image, body .content-three-text, body .contact-form {
    text-align: center; }
    body .content-one-image img, body .content-one-image p, body .content-one-text img, body .content-one-text p, body .content-two-image img, body .content-two-image p, body .content-two-text img, body .content-two-text p, body .content-three-image img, body .content-three-image p, body .content-three-text img, body .content-three-text p, body .contact-form img, body .contact-form p {
      max-width: 100%; } }

@media screen and (max-width: 600px) {
  body .background-hero {
    grid-template-areas: 'hero'; }
  body h2 {
    line-height: 40px; }
  body .hero .text-logo {
    font-size: 60px; }
  body .hero #tagline {
    font-size: 20px; } }

#banner_image {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  max-height: 400px; }
  #banner_image img {
    object-fit: cover;
    width: 100%;
    height: auto; }

.ticket, .extra {
  margin-bottom: 10px; }

.item {
  display: flex;
  align-content: center;
  flex-wrap: wrap; }
  .item .flex-right {
    flex: 0 1;
    display: flex; }
  .item .ticket-description, .item .extra-description, .item .ticket-sales-end, .item .extra-sales-end {
    flex: 0 0 90%; }
  .item input {
    max-width: 50px; }

.aside .inner {
  position: -webkit-sticky;
  position: sticky;
  top: -1px; }

.main .inner h1:first-child, .aside .inner h1:first-child, .banner .inner h1:first-child {
  margin-top: 0; }

.main .inner p:last-child, .aside .inner p:last-child, .banner .inner p:last-child {
  margin-bottom: 0; }

.aside .inner h2:first-child {
  margin-top: 0; }

.wrapper {
  overflow-y: hidden; }

ul.cart li {
  margin-left: 20px; }

#tagline {
  white-space: nowrap;
  position: relative;
  font-size: 28px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  display: inline-block;
  color: #f8f8f8; }

#cursor {
  animation: animated-cursor 800ms steps(30, end) infinite;
  border-bottom: solid 4px #f8f8f8;
  position: absolute;
  right: -15px;
  bottom: 25px;
  width: 15px;
  height: 4px;
  display: inline-block; }

@keyframes animated-cursor {
  from {
    border-bottom-color: #f8f8f8; }
  to {
    border-bottom-color: transparent; } }

.text-logo {
  font-size: 4em;
  color: #f8f8f8;
  line-height: 1.2; }

.links li:first-child {
  margin-left: 0; }

/*# sourceMappingURL=main.css.map */