{% extends 'base_backend.html' %}

{% block title %}Categories{% endblock %}

{% block body_class %}one-nav{% endblock %}

{% block content %}

<div class="heading">
    <h1>Categories</h1>
    <a class="button" href="{% url 'backend:category_new' %}">Add Category</a>
</div>

{% if all_categories_list_with_count %}
    <div id="flex_container">
    {% for category in all_categories_list_with_count %}
        <div class="category box flex-item">
            <p><strong>{{ category.name }}</strong></p>
            <p>Events with category: {{ category.count }}</p>
            <ul class="links">
                <li class="edit"><a href="{% url 'backend:category_details' category.id %}">Edit</a></li>
                <li class="delete"><a href="{% url 'backend:category_delete' category.id %}">Delete</a></li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No categories are available.</p>
{% endif %}

{% endblock %}
