{% extends 'base_backend.html' %}
{% load static %}

{% block title %}Add Category{% endblock %}

{% block body_class %}one-nav{% endblock %}

{% block content %}

<div class="heading">
    <h1>Add Category</h1>
</div>

<form class="box" method="post" action="{% url 'backend:category_add' %}">
    <table cellpadding="0">{{ form.as_table }}</table>
    <input type="submit" value="Save">
    {% csrf_token %}
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'backend/auto_copy_to_path.js' %}"></script>
{% endblock %}
